<!DOCTYPE html>
<html lang="en">
@Scripts.Render("~/bundles/jquery")
<!-- HEAD START -->
@RenderPage("_HeadLayout.cshtml")
<!-- HEAD END -->
<link href="~/CSS/Common.css" rel="stylesheet" type="text/css" />
<body class="nav-md">

    <!-- LEFT START -->
    @RenderPage("_LeftMenu.cshtml")
    <!-- LEFT END -->
    <!-- TOP NAVIGATION START -->
    @RenderPage("_TopNavigation.cshtml")
    <!-- TOP NAVIGATION END -->
    <!-- PAGE CONTENT START -->
    @RenderBody()
    <!-- PAGE CONTENT END -->

</body>

</html>