
@{
    ViewBag.Title = "Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/res/tree/TreeMenuStyle.css" rel="stylesheet" />

<!-- PAGE CONTENT START -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- MENU SECTION START -->
            <div class="menusect">
                <h5>
                    Utilisasi &bull;
                    <a href="/akses" class="activemenu">Akses</a>
                </h5>
            </div>
            <!-- MENU SECTION END -->
            <div class="x_title">
                <h2>Konfigurasi Utilisasi Akses</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content utlisasiaksestable">
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <table id="datatable" class="table table-striped table-bordered tbdef">
                        <thead>
                            <tr>
                                <th>Kode Roles</th>
                                <th>Nama Roles</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="showakses">@Html.DisplayFor(modelItem => item.RoleID)</td>
                                    <td class="showakses">@Html.DisplayFor(modelItem => item.RoleName)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12 contentakses" style="display:none;">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Menu Akses</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                <form class="form-horizontal form-label-left">
                                    <div class="x_panel aksespanel">
                                        <div class="x_title">
                                            <h2>Tree Menu</h2>
                                            <ul class="nav navbar-right panel_toolbox aksesbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input id="RolesID" type="hidden" />
                                                    <div class="TreeContainer">
                                                        <ul class="tree"></ul>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success" onclick="Save(); return false;">Simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT END -->

@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
    $(".showakses").click(function (ev) {
            $(".tree").empty();
            $(".contentakses").show();
            $("#RolesID").val($(this).closest("[role='row'").find("td:first").html());
            $.ajax({
                url: '@Url.Action("GetMenu")',
                type: 'post',
                cache: false,
                async: false,
                data: {
                    RolesID: $(this).closest("[role='row'").find("td:first").html()
                },
                success: function (response) {
                    var elements = '';
                    var Check = '';
                    $.each(response, function (k, v) {
                        Check = '';
                        if (v.Parent == null) {
                            if (v.MenuIDAkses != null) {
                                Check = 'checked';
                            }
                            $(".tree:first").append('<li id=' + v.MenuID + '><input id=' + v.MenuID + ' name=' + v.MenuID + ' type="checkbox" ' + Check + ' /><a>' + v.MenuID + '</a></li>')
                        }
                        else if (v.Parent != null) {
                            if (v.MenuIDAkses != null) {
                                Check = 'checked';
                            }
                            if ($(".tree").find("#" + v.Parent + ":first").find("ul").length) {
                                $(".tree").find("#" + v.Parent + ":first").find("ul").append('<li id=' + v.MenuID + '><input id=' + v.MenuID + ' name=' + v.MenuID + ' type="checkbox" ' + Check + ' /><a>' + v.MenuID + '</a></li>')
                            }
                            else {
                                $(".tree").find("#" + v.Parent + ":first").append('<ul style="display:none"><li id=' + v.MenuID + '><input id=' + v.MenuID + ' name=' + v.MenuID + ' type="checkbox" ' + Check + ' /><a>' + v.MenuID + '</a></li></ul>')
                            }
                        }
                    });
                    $(".tree li").each(function () {
                        if ($(this).find("ul").length) {
                            $(this).prepend('<img src="../../../images/ChildNode.png" />')
                        }
                    })
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Mohon Tunggu...");
                }
            });


        $('ul.tree li').each(function () {
            $(this).children('a').click(function () {
                LoadChildren(this);
            });
        });

        $('ul.tree li a').click(function (e) {
            $('ul.tree li').find('a').each(function () { $(this).removeClass(); })

            $(this).addClass("selected");
        });

        $(".tree li input").click(function () {
            if ($(this).parent().find('input:checkbox').prop('checked')) {
                $(this).closest("li").find("li").find('input:checkbox').prop('checked', true);
                $(this).closest("li").find("li").find('span').addClass("checked");

                if ($(this).parents("li").find('input:checkbox:first').length) {
                    $(this).parents("li").find('input:checkbox:first').prop('checked', true);
                    $(this).parents("li").find('span:first').addClass("checked");
                }

                $("#" + $(this).prop("id")).prop('checked', true)
            }
            else {
                $(this).closest("li").find("li").find('input:checkbox').prop('checked', false);
                $(this).closest("li").find("li").find('span').removeClass("checked");
                $("#" + $(this).prop("id")).prop('checked', false)
            }
        });
    });
</script>
<script type="text/javascript">
	function LoadChildren(ctrl) {
		if ($(ctrl).next('ul').is(':visible')) {
			$(ctrl).next('ul').hide('slow');
		}
		else {
			$(ctrl).next('ul').show('slow');
		}
	}

	function NodeSelection(ctrl) {
		$('ul.tree li').find('a').each(function () { $(this).removeClass(); })
		$(ctrl).addClass("selected");
	}

</script>
<script type="text/javascript">
    function Save()
    {
         var datas = new Array();
            $(".tree input:checkbox").each(function () {
                if($(this).prop("checked"))
                datas.push($(this).prop("id"))
            })
            InUpManual('@Url.Action("Save")', 'alert("success"); window.location.href = "@Url.Action("Index")"',JSON.stringify({RolesID: $("#RolesID").val(), Datas: datas }));
    }
</script>