
@{
    ViewBag.Title = "Create User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function Role() {
        var Column = [
                    { "data": "0" },
                    { "title": "Role Code", "data": "0" },
                    { "title": "Role Name", "data": "1" }

        ]
        DTable("datatablepopup", '@Url.Action("GetPopupGroupMenu", "Utilization")', Column, '{}');
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            $("#GroupMenuCode").val(d[0]);
            $("#GroupMenuName").val(d[1]);
            $('#Lookup').modal('hide');
        });
    }
    function Site() {
        var Column = [
                    { "data": "0" },
                    { "title": "Site Code", "data": "0" },
                    { "title": "Site Name", "data": "1" },
                    { "title": "Address", "data": "2" },
                    { "title": "City", "data": "3" },
                    { "title": "PostalCode", "data": "4" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupSite", "Asset")', Column, '{}');
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            $("#SiteCode").val(d[0]);
            $("#SiteName").val(d[1]);
            $("#LocationCode").val("");
            $("#LocationName").val("");
            $("#Floor").val("");
            $('#Lookup').modal('hide');
        });
    }
    function Location() {
        var Column = [
                    { "data": "LocationCode" },
                    { "title": "Location Code", "data": "LocationCode" },
                    { "title": "Location Name", "data": "LocationName" },
                    { "title": "Site Name", "data": "SiteName" },
                    { "title": "Floor", "data": "Floor" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupLocation", "Asset")', Column, function (d) { d.SiteCode = $('#SiteCode').val() });
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            $("#LocationCode").val(d["LocationCode"]);
            $("#LocationName").val(d["LocationName"]);
            $("#Floor").val(d["Floor"]);
            $('#Lookup').modal('hide');
        });
    }

    function Company() {
        var Column = [
                    { "data": "0" },
                    { "title": "Company Code", "data": "1" },
                    { "title": "Company Name", "data": "2" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupCompany", "Utilization")', Column, '{}');
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            $("#CompanyID").val(d[0]);
            $("#CompanyName").val(d[2]);
            $('#Lookup').modal('hide');
        });
    }
    function Dept() {
        var Column = [
                    { "data": "0" },
                    { "title": "Dept Code", "data": "0" },
                    { "title": "Dept Name", "data": "1" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupDept", "Utilization")', Column, '{}');
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            $("#DeptCode").val(d[0]);
            $("#DeptName").val(d[1]);
            $('#Lookup').modal('hide');
        });
    }

    function InputUser() {

        var GroupMenuCode = document.getElementById("GroupMenuCode").value;
        var UserNameS = document.getElementById("UserNameS").value;
        var PasswordS = document.getElementById("PasswordS").value;
        var Name = document.getElementById("Name").value;
        var Email = document.getElementById("Email").value;
        var Address = document.getElementById("Address").value;
        var Phone = document.getElementById("Phone").value;
        var CompanyID = document.getElementById("CompanyID").value;
        var DeptCode = document.getElementById("DeptCode").value;
        var SiteCode = document.getElementById("SiteCode").value;
        var LocationCode = document.getElementById("LocationCode").value;
        var Floor = document.getElementById("Floor").value;

        if (GroupMenuCode == "") {
            $(".modal-body #peringatan3").text("Role must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (UserNameS == "") {
            $(".modal-body #peringatan3").text("User Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (PasswordS == "") {
            $(".modal-body #peringatan3").text("Password must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (Address == "") {
            $(".modal-body #peringatan3").text("Address must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (CompanyID == "") {
            $(".modal-body #peringatan3").text("Company must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (DeptCode == "") {
            $(".modal-body #peringatan3").text("Dept must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (SiteCode == "") {
            $(".modal-body #peringatan3").text("SiteCode must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (LocationCode == "") {
            $(".modal-body #peringatan3").text("LocationCode must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
                $(".modal-body #peringatan4").text("Are You Sure Create User: " + UserNameS + "?");
                $('#btnyes').click(function (e) {
                    $('#Alert4').modal('hide');
                    $.ajax({
                        url: '@Url.Action("SaveUser", "Utilization")',
                        type: 'Post',
                        cache: false,
                        async: true,
                        data: {
                            GroupMenuCode: GroupMenuCode,
                            UserNameS: UserNameS,
                            PasswordS: PasswordS,
                            Name: Name,
                            Email: Email,
                            Address: Address,
                            Phone: Phone,
                            CompanyID: CompanyID,
                            DeptCode: DeptCode,
                            SiteCode: SiteCode,
                            LocationCode: LocationCode,
                            Floor: Floor
                        },
                        success: function (response) {
                            if (response.success == true) {
                                $(".modal-body #peringatan2").text(response.responseText);
                                $('#btnok').click(function (e) {
                                    window.location.href = "@Url.Action("Users")";
                                })
                                $("#Alert2").modal();
                            } else {
                                $(".modal-body #peringatan3").text(response.responseText);
                                $('#btnerror').click(function (e) {
                                    $('#Alert3').modal('hide');
                                })
                                $("#Alert3").modal();
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $(".modal-body #peringatan1").text("Please Wait...");
                            $('#btncaution').click(function (e) {
                                $('#Alert1').modal('hide');
                            })
                            $("#Alert1").modal();
                        }
                    });
                })
            }
        $('#btnno').click(function (e) {
            $('#Alert4').modal('hide');
        })
            $("#Alert4").modal();
    }

</script>

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Advanced •
                            <a href="/utilization/users" class="activemenu">Users</a> •
                            <a href="/utilization/createusers" class="activemenu">Create</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>Add an User</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal form-label-left">

                            <div class="form-group">
                                <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">Permission Group</h3>
                            </div>

                            <p class="headcontent">
                                Decide which parts of your account you want to be accessible to this user by assigning your user to a Permission Group.
                                Select the Administrator group to give this user full access, the Manager group to give this user full access without Admin.
                                Rights, the Viewer group to give this user the ability to view the basics of your account, or you can create and edit your own custom Permission Group.
                            </p>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Role</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="input-group">
                                        <input type="hidden" class="form-control readonly" placeholder="Role" id="GroupMenuCode" data-id="i" name="GroupMenuCode" maxlength="50" required="">
                                        <input type="text" class="form-control readonly" placeholder="Role" id="GroupMenuName" value="" name="GroupMenuCode" maxlength="50">
                                        <span class="input-group-btn">
                                            <a class="btn btn-info" onclick="Role()" data-target="#Lookup" data-toggle="modal" style="margin-right:0;height: 34px;">
                                                <i class="fa fa-search fa-fw"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <!--<div class="col-md-1 col-sm-1 col-xs-12">
                                    <button class="btn btn-default" type="button">Manage Groups</button>
                                </div>-->
                            </div>

                            <div class="form-group">
                                <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">User Info</h3>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">User Name</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="UserNameS" type="text" name="UserNameS" class="form-control col-md-10" value="" data-id="i" placeholder="User Name" required="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Password </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="PasswordS" type="password" name="PasswordS" class="form-control col-md-10" value="" data-id="i" placeholder="Password" required="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Name</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="Name" type="text" name="Name" class="form-control col-md-10" value="" data-id="i" placeholder="Name" required="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Email</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="Email" type="text" name="Email" class="form-control col-md-10" value="" data-id="i" placeholder="Email"  />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Address</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Address" data-id="i"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Phone</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="Phone" type="text" name="Phone" class="form-control col-md-10" data-id="i" placeholder="Phone" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Company</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="CompanyID" type="hidden" name="CompanyID" class="form-control col-md-10" data-id="i" placeholder="CompanyID" required="" />
                                    <input class="form-control readonly" id="CompanyName" name="CompanyName" value="" type="text" data-id="i" autocomplete="off" onclick="Company()" data-target="#Lookup" data-toggle="modal" style="cursor:auto;" required="" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Department</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="DeptCode" type="hidden" name="DeptCode" class="form-control col-md-10" data-id="i" placeholder="DeptCode" required="" />
                                    <input class="form-control readonly" id="DeptName" name="DeptName" value="" type="text" data-id="i" autocomplete="off" onclick="Dept()" data-target="#Lookup" data-toggle="modal" style="cursor:auto;" required="" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">Localization</h3>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Site</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input class="form-control readonly" id="SiteCode" name="SiteCode" value="" type="hidden" data-id="i" autocomplete="off" required="" />
                                    <input class="form-control readonly" id="SiteName" name="SiteName" value="" type="text" data-id="i" autocomplete="off" onclick="Site()" data-target="#Lookup" data-toggle="modal" style="cursor:auto;" required="" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Location</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input class="form-control readonly" id="LocationCode" name="LocationCode" value="" type="hidden" data-id="i" autocomplete="off" required="" />
                                    <input class="form-control readonly" id="LocationName" name="LocationName" value="" type="text" data-id="i" autocomplete="off" onclick="Location()" data-target="#Lookup" data-toggle="modal" style="cursor:auto;" required="" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Floor</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input class="form-control readonly" id="Floor" name="Floor" value="" type="text" data-id="i" autocomplete="off" required="" readonly/>
                                </div>
                            </div>
                            <div class="form-group">
                                <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">User Photo</h3>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Upload Image</label>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <input type="file" name="file" id="file" class="btn btn-success btn-cust inputfile" />
                                    <label for="file" class="ftwegthin"><i class="fa fa-upload icon-white mgr5"></i> Select Import File...</label>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-1">
                                    <button type="submit" class="btn btn-success" onclick="InputUser(); return false;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Add Site</h4>
            </div>
            <div class="modal-body ">

                <p style="margin-left:8px; margin-bottom:25px;">Enter the data about your new site in the fields below and we will add it to your list.</p>

                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Site</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Site">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Description</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Address</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Apt./Suite</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Apt./Suite">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">City</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">State</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="State">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Postal Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Postal Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Country</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input list="Country" name="Country" class="form-control" placeholder="Select a Country">
                            <datalist id="Country">
                                <option value="Country 1">
                                <option value="Country 2">
                                <option value="Country 3">
                                <option value="Country 4">
                                <option value="Country 5">
                            </datalist>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2">
                            <button type="button" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<!-- MODAL1 END -->

<!-- MODAL2 START -->
<!--<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Category</h4>
            </div>
            <div class="modal-body ">

                <p style="margin-left:8px; margin-bottom:25px;">If you want to add a new category of assets, you’re in the right spot. Add a category for computer equipment, wireless keyboards, or any assets you’re working with.</p>

                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Category</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Category">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2">
                            <button type="button" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<!-- MODAL2 END -->

<!-- MODAL3 START -->
<!--<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Add an Location</h4>
            </div>
            <div class="modal-body ">

                <p style="margin-left:8px; margin-bottom:25px;">Enter the data about your new site in the fields below and we will add it to your list.</p>

                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Site</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input list="Site" name="Site" class="form-control" placeholder="Select a Site">
                            <datalist id="Site">
                                <option value="Site 1">
                                <option value="Site 2">
                                <option value="Site 3">
                                <option value="Site 4">
                                <option value="Site 5">
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Location</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Location">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2">
                            <button type="button" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<!-- MODAL3 END -->

<!-- MODAL4 START -->
<!--<div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Create Status Label</h4>
            </div>
            <div class="modal-body ">

                <p style="margin-left:8px; margin-bottom:25px;">Add departments that own or house the particular assets. Make them as broad or as specific as you want. Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.</p>

                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Department</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="Department">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-2">
                            <button type="button" class="btn btn-primary">Cancel</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<!-- MODAL4 END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")
@Html.Partial("~/Views/Shared/PopupModal.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#createsite").click(function(){
              $("#myModal").modal();
          });
      });
      $(document).ready(function(){
          $("#createcategory").click(function () {
              $("#myModal2").modal();
          });
      });
      $(document).ready(function(){
          $("#createlocation").click(function () {
              $("#myModal3").modal();
          });
      });
      $(document).ready(function(){
          $("#createdepartment").click(function () {
              $("#myModal4").modal();
          });
      });
</script>

