
@{
    ViewBag.Title = "Create Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function Parent() {
        var Column = [
                    { "data": "0" },
                    { "title": "Menu Code", "data": "0" },
                    { "title": "Menu Name", "data": "1" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupParentMenu", "Utilization")', Column, function (d) { d.Level = $("#LevelMenu").val() });
        $('#datatablepopup tbody').on('click', 'tr', function () {
        var d = table.row(this).data();
        $("#ParentMenu").val(d[0]);
        $("#NamaParentMenu").val(d[1]);
        $('#Lookup').modal('hide');
        });
        }

    function Create() {

        var MenuCode = document.getElementById("MenuCode").value;
        var MenuName = document.getElementById("MenuName").value;
        var MenuPath = document.getElementById("MenuPath").value;
        var LevelMenu = document.getElementById("LevelMenu").value;
        var ParentMenu = document.getElementById("ParentMenu").value;

        if (MenuCode == "") {
            $(".modal-body #peringatan3").text("Menu Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (MenuName == "") {
            $(".modal-body #peringatan3").text("Menu Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $(".modal-body #peringatan4").text("Are You Sure Create Menu: " + MenuName + "?");
            $('#btnyes').click(function (e) {
                $('#Alert4').modal('hide');
                $.ajax({
                    url: '@Url.Action("SaveMenu", "Utilization")',
                    type: 'Post',
                    cache: false,
                    async: true,
                    data: {
                        MenuCode: MenuCode,
                        MenuName: MenuName,
                        MenuPath: MenuPath,
                        LevelMenu: LevelMenu,
                        ParentMenu: ParentMenu
                    },
                    success: function (response) {
                        if (response.success == true) {
                            $(".modal-body #peringatan2").text(response.responseText);
                            $('#btnok').click(function (e) {
                                window.location.href = "@Url.Action("Menu")";
                            })
                            $("#Alert2").modal();
                        } else {
                            $(".modal-body #peringatan3").text(response.responseText);
                            $('#btnerror').click(function (e) {
                                $('#Alert3').modal('hide');
                            })
                            $("#Alert3").modal();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(".modal-body #peringatan1").text("Please Wait...");
                        $('#btncaution').click(function (e) {
                            $('#Alert1').modal('hide');
                        })
                        $("#Alert1").modal();
                    }
                });
            })
        }
        $('#btnno').click(function (e) {
            $('#Alert4').modal('hide');
        })
        $("#Alert4").modal();
    }
</script>
@*<script type="text/javascript">
if ($('#LevelMenu').val() == "0") {
        $('#btnParent').addClass('disabled');
        
    } else {
        $('#btnParent').removeClass('disabled');
    }
</script>*@

<!-- PAGE CONTENT START -->
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Utilization •
                            <a href="/utilization/menu">Menu</a> •
                            <a href="/utilization/createmenu" class="activemenu">Create</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>Configuration Utilization Menu</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content utlisasimenutable">
                        <form class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Menu Code</label>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Menu Code" id="MenuCode" data-id="i" name="MenuCode" required="" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Menu Name</label>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Menu Name" id="MenuName" data-id="i" name="MenuName" required="" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Path</label>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Path" id="MenuPath" data-id="i" name="MenuPath" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Level / Parent</label>
                                <div class="col-md-1 col-sm-1 col-xs-12">
                                    <select class="form-control" id="LevelMenu" data-id="i" name="LevelMenu" required="">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="">
                                        <input type="hidden" class="form-control readonly" placeholder="Parent" id="ParentMenu" data-id="i" name="ParentMenu"  maxlength="50">
                                        <input type="text" class="form-control readonly" placeholder="Parent" id="NamaParentMenu" name="NamaParentMenu"  onclick="Parent()" id="btnParent" data-target="#Lookup" data-toggle="modal" style="cursor:auto;" required="" readonly maxlength="50">
                                        @*<span class="input-group-btn">
                                            <a class="btn btn-info" style="margin-right:0;height: 34px;">
                                                <i class="fa fa-search fa-fw"></i>
                                            </a>
                                        </span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid ln_solidform"></div>
                            <div class="form-group">
                                <div class="col-md-11 col-sm-11 col-xs-12 col-md-offset-1">
                                    <button type="submit" class="btn btn-success" onclick="Create(); return false;">Submit</button>
                                </div>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT END -->


@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")
@Html.Partial("~/Views/Shared/PopupModal.cshtml")


<script type="text/javascript">
    $(document).ready(function () {
        $("#selectasset").click(function () {
                $("#addModal").modal();
            });
    });

    //$('#btnParent').addClass('disabled');
    $("#LevelMenu").on("change", function(){
        if ($('#LevelMenu').val() == "0") {
            $('#btnParent').addClass('disabled');

        } else {
            $('#btnParent').removeClass('disabled');
        }
    });
    
    $('#btnParent').addClass('disabled');

</script>

