
@{
    ViewBag.Title = "Update User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    function Update() {

        var GroupMenuCode = document.getElementById("GroupMenuCode").value;
        var GroupMenuName = document.getElementById("GroupMenuName").value;

        if (GroupMenuCode == "") {
            $(".modal-body #peringatan3").text("Role Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (GroupMenuName == "") {
            $(".modal-body #peringatan3").text("Role Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $(".modal-body #peringatan4").text("Are You Sure Update Role: " + GroupMenuName + "?");
            $('#btnyes').click(function (e) {
                $('#Alert4').modal('hide');
                $.ajax({
                    url: '@Url.Action("SaveUpdateRole", "Utilization")',
                    type: 'Post',
                    cache: false,
                    async: true,
                    data: {
                        GroupMenuCode: GroupMenuCode,
                        GroupMenuName: GroupMenuName
                    },
                    success: function (response) {
                        if (response.success == true) {
                            $(".modal-body #peringatan2").text(response.responseText);
                            $('#btnok').click(function (e) {
                                window.location.href = "@Url.Action("Role")";
                            })
                            $("#Alert2").modal();
                        } else {
                            $(".modal-body #peringatan3").text(response.responseText);
                            $('#btnerror').click(function (e) {
                                $('#Alert3').modal('hide');
                            })
                            $("#Alert3").modal();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(".modal-body #peringatan1").text("Please Wait...");
                        $('#btncaution').click(function (e) {
                            $('#Alert1').modal('hide');
                        })
                        $("#Alert1").modal();
                    }
                });
            })
        }
        $('#btnno').click(function (e) {
            $('#Alert4').modal('hide');
        })
        $("#Alert4").modal();
    }
</script>

<!-- PAGE CONTENT START -->
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Utilization •
                            <a href="/utilization/role">Role</a> •
                            <a href="/utilization/updaterole" class="activemenu">Update</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>Configuration Utilization Roles</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content utlisasimenutable">
                        <form class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Role  Code</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" class="form-control readonly" placeholder="Role Code" data-id="i" id="GroupMenuCode" name="GroupMenuCode" required="" maxlength="30" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Role Name</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Role Name" data-id="i" id="GroupMenuName" name="GroupMenuName" required="" maxlength="100">
                                </div>
                            </div>
                            <div class="ln_solid ln_solidform"></div>
                            <div class="form-group">
                                <div class="col-md-11 col-sm-11 col-xs-12 col-md-offset-1">
                                    <button type="submit" class="btn btn-success" onclick="Update(); return false;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")
@Html.Partial("~/Views/Shared/PopupModal.cshtml")

<script type="text/javascript">

    $("#GroupMenuCode").val('@ViewData["GroupMenuCode"].ToString()');
    $("#GroupMenuName").val('@ViewData["GroupMenuName"].ToString()');

</script>
