
@{
    ViewBag.Title = "Update User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function Role() {
        var Column = [
                    { "data": "0" },
                    { "title": "Role Code", "data": "0" },
                    { "title": "Role Name", "data": "1" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupGroupMenu", "Utilization")', Column, '{}');
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            $("#GroupMenuCode").val(d[0]);
            $("#GroupMenuName").val(d[1]);
            $('#Lookup').modal('hide');
        });
    }
    function Site() {
        var Column = [
                    { "data": "0" },
                    { "title": "Site Code", "data": "0" },
                    { "title": "Site Name", "data": "1" },
                    { "title": "Address", "data": "2" },
                    { "title": "City", "data": "3" },
                    { "title": "PostalCode", "data": "4" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupSite", "Asset")', Column, '{}');
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            $("#SiteCode").val(d[0]);
            $("#SiteName").val(d[1]);
            $("#LocationCode").val("");
            $("#LocationName").val("");
            $("#Floor").val("");
            $('#Lookup').modal('hide');
        });
    }
    function Location() {
        var Column = [
                    { "data": "LocationCode" },
                    { "title": "Location Code", "data": "LocationCode" },
                    { "title": "Location Name", "data": "LocationName" },
                    { "title": "Site Name", "data": "SiteName" },
                    { "title": "Floor", "data": "Floor" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupLocation", "Asset")', Column, function (d) { d.SiteCode = $('#SiteCode').val() });
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            $("#LocationCode").val(d["LocationCode"]);
            $("#LocationName").val(d["LocationName"]);
            $("#Floor").val(d["Floor"]);
            $('#Lookup').modal('hide');
        });
    }

    function Company() {
        var Column = [
                    { "data": "0" },
                    { "title": "Company Code", "data": "1" },
                    { "title": "Company Name", "data": "2" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupCompany", "Utilization")', Column, '{}');
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            $("#CompanyID").val(d[0]);
            $("#CompanyName").val(d[2]);
            $('#Lookup').modal('hide');
        });
    }
    function Dept() {
        var Column = [
                    { "data": "0" },
                    { "title": "Dept Code", "data": "0" },
                    { "title": "Dept Name", "data": "1" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupDept", "Utilization")', Column, '{}');
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            $("#DeptCode").val(d[0]);
            $("#DeptName").val(d[1]);
            $('#Lookup').modal('hide');
        });
    }

    function Update() {

        var GroupMenuCode = document.getElementById("GroupMenuCode").value;
        var UserNameS = document.getElementById("UserNameS").value;
        var Name = document.getElementById("Name").value;
        var Email = document.getElementById("Email").value;
        var Address = document.getElementById("Address").value;
        var Phone = document.getElementById("Phone").value;
        var CompanyID = document.getElementById("CompanyID").value;
        var DeptCode = document.getElementById("DeptCode").value;
        var SiteCode = document.getElementById("SiteCode").value;
        var LocationCode = document.getElementById("LocationCode").value;
        var Floor = document.getElementById("Floor").value;

        if (GroupMenuCode == "") {
            $(".modal-body #peringatan3").text("Role must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (UserNameS == "") {
            $(".modal-body #peringatan3").text("User Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();

        } else if (Address == "") {
            $(".modal-body #peringatan3").text("Address must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (CompanyID == "") {
            $(".modal-body #peringatan3").text("Company must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (DeptCode == "") {
            $(".modal-body #peringatan3").text("Dept must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (SiteCode == "") {
            $(".modal-body #peringatan3").text("SiteCode must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (LocationCode == "") {
            $(".modal-body #peringatan3").text("LocationCode must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $(".modal-body #peringatan4").text("Are You Sure Update User: " + UserNameS + "?");
            $('#btnyes').click(function (e) {
                $('#Alert4').modal('hide');
                $.ajax({
                    url: '@Url.Action("SaveUpdateUser", "Utilization")',
                    type: 'Post',
                    cache: false,
                    async: true,
                    data: {
                        GroupMenuCode: GroupMenuCode,
                        UserNameS: UserNameS,
                        Name: Name,
                        Email: Email,
                        Address: Address,
                        Phone: Phone,
                        CompanyID: CompanyID,
                        DeptCode: DeptCode,
                        SiteCode: SiteCode,
                        LocationCode: LocationCode,
                        Floor: Floor
                    },
                    success: function (response) {
                        if (response.success == true) {
                            $(".modal-body #peringatan2").text(response.responseText);
                            $('#btnok').click(function (e) {
                                window.location.href = "@Url.Action("Users")";
                            })
                            $("#Alert2").modal();
                        } else {
                            $(".modal-body #peringatan3").text(response.responseText);
                            $('#btnerror').click(function (e) {
                                $('#Alert3').modal('hide');
                            })
                            $("#Alert3").modal();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(".modal-body #peringatan1").text("Please Wait...");
                        $('#btncaution').click(function (e) {
                            $('#Alert1').modal('hide');
                        })
                        $("#Alert1").modal();
                    }
                });
            })
        }
        $('#btnno').click(function (e) {
            $('#Alert4').modal('hide');
        })
        $("#Alert4").modal();
    }
</script>

<!-- PAGE CONTENT START -->

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Advanced •
                            <a href="/utilization/users" class="activemenu">Users</a> •
                            <a href="/utilization/updateuser" class="activemenu">Update</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>Add an User</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal form-label-left">

                            <div class="form-group">
                                <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">Permission Group</h3>
                            </div>

                            <p class="headcontent">
                                Decide which parts of your account you want to be accessible to this user by assigning your user to a Permission Group.
                                Select the Administrator group to give this user full access, the Manager group to give this user full access without Admin.
                                Rights, the Viewer group to give this user the ability to view the basics of your account, or you can create and edit your own custom Permission Group.
                            </p>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Role</label>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="input-group">
                                        <input type="hidden" class="form-control readonly" placeholder="Role" id="GroupMenuCode" data-id="i" name="GroupMenuCode" maxlength="50" required="" readonly>
                                        <input type="text" class="form-control readonly" placeholder="Role" id="GroupMenuName" value="" name="GroupMenuCode" maxlength="50" readonly>
                                        <span class="input-group-btn">
                                            <a class="btn btn-info" onclick="Role()" data-target="#Lookup" data-toggle="modal" style="margin-right:0;height: 34px;">
                                                <i class="fa fa-search fa-fw"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <!--<div class="col-md-1 col-sm-1 col-xs-12">
                                    <button class="btn btn-default" type="button">Manage Groups</button>
                                </div>-->
                            </div>

                            <div class="form-group">
                                <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">User Info</h3>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">User Name</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="UserNameS" type="text" name="UserNameS" class="form-control col-md-10 readonly" value="" data-id="i" placeholder="User Name" required="" readonly/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Name</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="Name" type="text" name="Name" class="form-control col-md-10 readonly" value="" data-id="i" placeholder="Name" required="" readonly/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Email</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="Email" type="text" name="Email" class="form-control col-md-10" value="" data-id="i" placeholder="Email" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Address</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Address" data-id="i"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Phone</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="Phone" type="text" name="Phone" class="form-control col-md-10" data-id="i" placeholder="Phone" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Company</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="CompanyID" type="hidden" name="CompanyID" class="form-control col-md-10" data-id="i" placeholder="CompanyID" required="" />
                                    <input class="form-control readonly" placeholder="Company" id="CompanyName" name="CompanyName" value="" type="text" data-id="i" autocomplete="off" onclick="Company()" data-target="#Lookup" data-toggle="modal" style="cursor:auto;" required="" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Department</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="DeptCode" type="hidden" name="DeptCode" class="form-control col-md-10" data-id="i" placeholder="DeptCode" required="" />
                                    <input class="form-control readonly" placeholder="Department" id="DeptName" name="DeptName" value="" type="text" data-id="i" autocomplete="off" onclick="Dept()" data-target="#Lookup" data-toggle="modal" style="cursor:auto;" required="" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">Localization</h3>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Site</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input class="form-control readonly" id="SiteCode" name="SiteCode" value="" type="hidden" data-id="i" autocomplete="off" required="" />
                                    <input class="form-control readonly" id="SiteName" name="SiteName" value="" type="text" data-id="i" autocomplete="off" onclick="Site()" data-target="#Lookup" data-toggle="modal" style="cursor:auto;" required="" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Location</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input class="form-control readonly" id="LocationCode" name="LocationCode" value="" type="hidden" data-id="i" autocomplete="off" required="" />
                                    <input class="form-control readonly" id="LocationName" name="LocationName" value="" type="text" data-id="i" autocomplete="off" onclick="Location()" data-target="#Lookup" data-toggle="modal" style="cursor:auto;" required="" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Floor</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input class="form-control readonly" placeholder="Floor" id="Floor" name="Floor" value="" type="text" data-id="i" autocomplete="off" required="" style="cursor:auto;" readonly />
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-1">
                                    <button type="submit" class="btn btn-success" onclick="Update(); return false;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PAGE CONTENT END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")
@Html.Partial("~/Views/Shared/PopupModal.cshtml")

<script type="text/javascript">


    $("#GroupMenuCode").val('@ViewData["GroupMenuCode"].ToString()');
    $("#GroupMenuName").val('@ViewData["GroupMenuName"].ToString()');
    $("#UserNameS").val('@ViewData["UserName"].ToString()');
    $(document).ready(function () {
        $("#createsite").click(function () {
            $("#myModal").modal();
        });
    });
    $(document).ready(function () {
        $("#createcategory").click(function () {
            $("#myModal2").modal();
        });
    });
    $(document).ready(function () {
        $("#createlocation").click(function () {
            $("#myModal3").modal();
        });
    });
    $(document).ready(function () {
        $("#createdepartment").click(function () {
            $("#myModal4").modal();
        });
    });

    $("#GroupMenuCode").val('@ViewData["GroupMenuCode"].ToString()');
    $("#GroupMenuName").val('@ViewData["GroupMenuName"].ToString()');
    $("#UserNameS").val('@ViewData["UserName"].ToString()');
    $("#Name").val('@ViewData["Name"].ToString()');
    $("#Email").val('@ViewData["Email"].ToString()');
    $("#Address").val('@ViewData["Address"].ToString()');
    $("#Phone").val('@ViewData["Phone"].ToString()');
    $("#CompanyID").val('@ViewData["CompanyID"].ToString()');
    $("#CompanyName").val('@ViewData["CompanyName"].ToString()');
    $("#DeptCode").val('@ViewData["DeptCode"].ToString()');
    $("#DeptName").val('@ViewData["DeptName"].ToString()');
    $("#SiteCode").val('@ViewData["SiteCode"].ToString()');
    $("#SiteName").val('@ViewData["SiteName"].ToString()');
    $("#LocationCode").val('@ViewData["LocationCode"].ToString()');
    $("#LocationName").val('@ViewData["LocationName"].ToString()');
    $("#Floor").val('@ViewData["Floor"].ToString()');

</script>
