
@{
    ViewBag.Title = "Checkin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function Asset() {
        var Column = [
                    { "data": "0" },
                    { "title": "Asset Code", "data": "0" },
                    { "title": "Asset Name", "data": "1" },
                    { "title": "Serial No", "data": "2" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupAssetCheckIn", "Asset")', Column, '{}');
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            $("#AssetCode").val(d[0]);
            $("#AssetName").val(d[1]);
            $("#AssetSerialNo").val(d[2]);
            $('#Lookup').modal('hide');
        });
    }

    function AddAsset() {
        var AssetCode = document.getElementById("AssetCode").value;
        var AssetName = document.getElementById("AssetName").value;
        var AssetSerialNo = document.getElementById("AssetSerialNo").value;

        if (AssetCode == "") {
            $(".modal-body #peringatan3").text("Asset Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (AssetName == "") {
            $(".modal-body #peringatan3").text("Asset Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (AssetSerialNo == "") {
            $(".modal-body #peringatan3").text("Serial No must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $.ajax({
                url: '@Url.Action("AddAssetCheckIn", "Asset")',
                type: 'Post',
                cache: false,
                async: true,
                data: {
                    AssetCode: AssetCode,
                    AssetName: AssetName,
                    AssetSerialNo: AssetSerialNo
                },
                success: function (response) {
                    if (response.success == true) {
                        $(".modal-body #peringatan2").text(response.responseText);
                        $('#btnok').click(function (e) {
                            window.location.href = "@Url.Action("Checkin","Asset")";
                        })
                        $("#Alert2").modal();
                    } else {
                        $(".modal-body #peringatan3").text(response.responseText);
                        $('#btnerror').click(function (e) {
                            $('#Alert3').modal('hide');
                        })
                        $("#Alert3").modal();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $(".modal-body #peringatan1").text("Please Wait...");
                    $('#btncaution').click(function (e) {
                        $('#Alert1').modal('hide');
                    })
                    $("#Alert1").modal();
                }
            });
        }
    }
    function DeleteAsset(AssetCode) {

        $(".modal-body #peringatan4").text("Anda You Sure Delete Asset Code " + AssetCode  + " ?");
        $('#btnyes').click(function (e) {
            $('#Alert4').modal('hide');
            $.ajax({
                url: '@Url.Action("DeleteAssetCheckIn", "Asset")',
                type: 'Post',
                cache: false,
                async: true,
                data: {
                    AssetCode: AssetCode
                },
                success: function (response) {
                    if (response.success == true) {
                        $(".modal-body #peringatan2").text(response.responseText);
                        $('#btnok').click(function (e) {
                            window.location.href = "@Url.Action("Checkin","Asset")";
                        })
                        $("#Alert2").modal();
                    } else {
                        $(".modal-body #peringatan3").text(response.responseText);
                        $('#btnerror').click(function (e) {
                            $('#Alert3').modal('hide');
                        })
                        $("#Alert3").modal();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $(".modal-body #peringatan1").text("Mohon Tunggu...");
                    $('#btncaution').click(function (e) {
                        $('#Alert1').modal('hide');
                    })
                    $("#Alert1").modal();
                }
            });
        })
        $('#btnno').click(function (e) {
            $('#Alert4').modal('hide');
        })
        $("#Alert4").modal();
    }

    function CheckIn() {
        
        var ReturnDate = document.getElementById("single_cal2").value;
        var Notes = document.getElementById("Notes").value;


        if (ReturnDate == "") {
            $(".modal-body #peringatan3").text("Return Date Date must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $(".modal-body #peringatan4").text("Are You Sure Check In Asset ?");
            $('#btnyes').click(function (e) {
                $('#Alert4').modal('hide');
                $.ajax({
                    url: '@Url.Action("SaveCheckIn", "Asset")',
                    type: 'Post',
                    cache: false,
                    async: true,
                    data: {

                        ReturnDate: ReturnDate,
                        Notes: Notes
                    },
                    success: function (response) {
                        if (response.success == true) {
                            $(".modal-body #peringatan2").text(response.responseText);
                            $('#btnok').click(function (e) {
                                window.location.href = "@Url.Action("Checkin","Asset")";
                            })
                            $("#Alert2").modal();
                        } else {
                            $(".modal-body #peringatan3").text(response.responseText);
                            $('#btnerror').click(function (e) {
                                $('#Alert3').modal('hide');
                            })
                            $("#Alert3").modal();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(".modal-body #peringatan1").text("Please Wait...");
                        $('#btncaution').click(function (e) {
                            $('#Alert1').modal('hide');
                        })
                        $("#Alert1").modal();
                    }
                });
            })
        }
        $('#btnno').click(function (e) {
            $('#Alert4').modal('hide');
        })
        $("#Alert4").modal();
    }

</script>
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Assets •
                            <a href="/asset/checkin" class="activemenu">Check In</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>Check In</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="text-muted font-13 m-b-30">
                            <div class="mgbtm20">
                                <button id="selectasset" type="button" class="btn btn-success">Select Asset</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <h3 style="color: #c11118;border-bottom: 1px dashed;padding-bottom: 5px;">Asset Pending Check In</h3>
                        </div>
                        <table id="checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="12%">Asset Code</th>
                                    <th>Asset Name</th>
                                    <th width="9%">Serial No</th>
                                    <th style="width:9%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CORE.JGC.Models.TrCheckInLine item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.AssetCode)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AssetName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AssetSerialNo)</td>
                                        <td style="width:5% !important;text-align:center;">
                                            <button id="delete" name="delete" type="button" data-toggle="tooltip" title="Delete" class="btn btn-success" onclick="return DeleteAsset('@Html.DisplayFor(modelItem => item.AssetCode)');"><span class="glyphicon glyphicon-erase"></span></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="ln_solid"></div>
                        <form class="form-horizontal form-label-left">
                            <div id="persons_check">
                                <div class="form-group">
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">Return Date</label>
                                    <div class="col-md-4 col-sm-4 xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-left" id="single_cal2" name="ReturnDate" placeholder="Return Date" data-id="i" aria-describedby="returnDate">
                                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                        <span id="returnDate" class="sr-only">(success)</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">Notes</label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <textarea id="Notes" name="Notes" class="form-control" rows="3" placeholder="Notes" data-id="i"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-1">
                                    <button type="button" class="btn btn-success" onclick="CheckIn(); return false;">Check Out</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL1 START -->
<div class="modal fade" id="addModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Add Asset</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">
                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Asset Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input class="form-control readonly" id="AssetCode" name="AssetCode" value="" type="text" data-id="i" autocomplete="off" onclick="Asset()" data-target="#Lookup" data-toggle="modal" style="cursor:auto;" required="" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Asset Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="AssetName" type="text" name="AssetName" class="form-control col-md-10" placeholder="Asset Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Serial No</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="AssetSerialNo" type="text" name="AssetSerialNo" class="form-control col-md-10" placeholder="Serial No" />
                        </div>
                    </div>
                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="AddAssetBtn" type="button" class="btn btn-primary" onclick="AddAsset(); return false;">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MODAL1 END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")
@Html.Partial("~/Views/Shared/PopupModal.cshtml")
<script type="text/javascript">
      $(document).ready(function(){
          $("#addtosite").click(function(){
              $("#assetModal").modal();
          });
          $("#AssetCancelId").click(function () {
              $("#assetModal").modal('toggle');
          });
          $("#AssetAddId").click(function () {
              $("#assetModal").modal('toggle');
          });
      });

      $(document).ready(function () {
          $("#checkinperson").click(function () {
              $("#persons_check:hidden").show('slow');
              $("#sites_check").hide();
          });
          $("#checkinperson").click(function () {
              if ($('checkinperson').prop('checked') === false) {
                  $('#persons_check').hide();
              }
          });

          $("#checkinsite").click(function () {
              $("#sites_check:hidden").show('slow');
              $("#persons_check").hide();
          });
          $("#checkinsite").click(function () {
              if ($('checkinsite').prop('checked') === false) {
                  $('#sites_check').hide();
              }
          });
      });

      $(document).ready(function () {
          var checkbox = document.getElementById("checkbox1");

          $("#checkbox1").click(function () {
              if (checkbox.checked == true) {
                  document.getElementById("checkinemail").disabled = false;
              } else {
                  document.getElementById("checkinemail").disabled = true;
              }
          });
      });

      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

      $("#check-all2").click(function () {
          $(".checksmodal").prop('checked', $(this).prop('checked'));
      });

</script>
<script type="text/javascript">
      $(document).ready(function(){
          $("#selectasset").click(function () {
              $("#addModal").modal();
          });
      });
</script>