@model CORE.JGC.Models.MsBarcode[]
@{
    ViewBag.Title = "Barcode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Setup •
                            <a href="/setup/barcode" class="activemenu">Barcode</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>List of Barcode</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="col-md-12 col-sm-12 col-xs-12 text-muted font-13 m-b-30 no-padding">
                            <div class="mgbtm20">                                
                            </div>
                        </div>
                        <table id="datatable" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th style="width:9% !important;">@Html.Label("Barcode")</th>
                                    <th style="width:9% !important;">@Html.Label("Size")</th>
                                    <th style="width:9% !important;">@Html.Label("Title")</th>
                                    <th style="width:2%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                { 
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.BarcodeCode)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SizeBarcode)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TitleBarcode)</td>
                                    <td style="width:5% !important;text-align:center;">
                                        <button id="edit" name="edit" type="button" data-toggle="tooltip" title="Edit" class="btn btn-success" onclick=""><span class="glyphicon glyphicon-edit"></span></button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Auto Number</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Table</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="Table" class="form-control col-md-10" placeholder="Table" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Format Document</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="FormatDocument" class="form-control col-md-10" placeholder="Format Document" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Seq Length</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="number" name="SeqLength" class="form-control col-md-10" placeholder="Seq Length" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button type="button" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>-->
<!-- MODAL1 END -->

@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      //$(document).ready(function(){
      //    $("#tambahautonumber").click(function () {
      //        $("#myModal").modal();
      //    });
      //});

      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

</script>
